body {
    margin: 0px;
}

mat-toolbar {
    background: #004a9f;
    color: white;
    width: 100vh - 10px;
}

mat-sidenav {
    margin: 16px;
    position: absolute;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
    visibility: visible;
}

.content {
    height: calc(100vh - 85px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: lightgray;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.mat-drawer-container {
    display: block;
}