<!-- https://youtu.be/fk4eIoy1l_M?t=469 P/ navegação--> 
<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <img width="40" alt="Angular Logo" src="https://i.imgur.com/Z8MPbKb.png" />
    <span>Sistema para Controle de Vendas de Imóveis</span>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <button mat-button class="menu-button">
            <a routerLink="/home">
                <mat-icon>home</mat-icon>
                <span>Imóveis</span>
            </a>
        </button>
        <button mat-button class="menu-button">
            <a routerLink="/corretores">
                <mat-icon>person</mat-icon>
                <span>Corretores</span>
            </a>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>shopping_cart</mat-icon>
            <span>Vendas</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>account_balance_wallet</mat-icon>
            <span>Salários</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>info</mat-icon>
            <span>Relatórios</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <a href="mailto:leorsousa@unifei.edu.br">
                <mat-icon>help</mat-icon>
                <span>Help</span>
            </a>
        </button>

    </mat-sidenav>

    <mat-sidenav-content>
        <div class="content mat-elevation-z8">

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>