mat-toolbar {
    background: #004a9f;
    color: white;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #004a9f;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

h1 {
    text-align: center;
    color: lightgray;
}

h3 {
    text-align: center;
    text-shadow: 2px 2px 2px grey;
}

a {
    color: white;
    text-decoration: none;
}

.cadastro {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    display: flex;
    margin-top: 3em;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.corr-geral {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.corr-contra {
    margin-left: 10px;
    padding: 10px;
    border-radius: 8px;
    width: calc(100vh / 2);
    height: 10em;
    background-color: rgb(175, 175, 175);
    align-items: center;
}

.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    /* margin: 16px;
    margin-left: 32px; */

    height:90%;
    padding: 10px;

    align-items: center;

    color: black;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
}

.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin-top: 8px;
    font-weight: normal;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}
