<!-- https://youtu.be/fk4eIoy1l_M?t=469 P/ navegação-->
<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <img width="40" alt="Angular Logo" src="https://i.imgur.com/Z8MPbKb.png" />
    <span>Sistema para Controle de Vendas de Imóveis</span>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <router-outlet></router-outlet>
        <button mat-button class="menu-button">
            <a [routerLink]="['/home']">
                <mat-icon>home</mat-icon>
                <span>Imóveis</span>
            </a>
        </button>
        <button mat-button class="menu-button">
            <a [routerLink]="['/corretores']">
                <mat-icon>person</mat-icon>
                <span>Corretores</span>
            </a>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>shopping_cart</mat-icon>
            <span>Vendas</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>account_balance_wallet</mat-icon>
            <span>Salários</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>info</mat-icon>
            <span>Relatórios</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <a href="mailto:leorsousa@unifei.edu.br">
                <mat-icon>help</mat-icon>
                <span>Help</span>
            </a>
        </button>

    </mat-sidenav>

    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <h1>CADASTRO DE CORRETORES</h1>
            <!-- Parte geral -->
            <div class="corr-geral">
                <p>
                    <label for="nome">Nome: </label>
                    <input type="text" name="nome" required [(ngModel)]="nome">
                </p>
                <p>
                    <label for="creci">CRECI: </label>
                    <input type="number" name="creci" required [(ngModel)]="creci">
                </p>
            </div>

            <div class="cards">
                <!-- Card 1 -->
                <div class="corr-contra">
                    <h3>Contratado</h3>
                    <p>
                        <label for="sal">Salario: </label>
                        <input type="number" name="sal" [(ngModel)]="salario">
                    </p>
                    <p>
                        <label for="admissao">Admissão: </label>
                        <input type="date" name="admissao" [(ngModel)]="admissao">
                    </p>
                    <button class="cadastro" (click)="cadastrarContratado()"><b>Cadastrar</b></button>
                </div>

                <!-- Card 2 -->
                <div class="corr-contra">
                    <h3>Comissonado</h3>
                    <p>
                        <label for="comissao">Porcentual de comissao: </label>
                        <input type="number" name="comissao" [(ngModel)]="comissao">
                    </p>
                    <button class="cadastro" (click)="cadastrarComissionado()"><b>Cadastrar</b></button>
                </div>
            </div>

            <!-- Ver os corretores || TEMPORÁRIO -->
            <div class="tabela-corretores">
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>CRECI</th>
                            <th>Salario</th>
                            <th>Admissão</th>
                        </tr>
                    </thead>
                    <tr *ngFor="let i of contratadosLista">
                        <td>{{ i.nome }}</td>
                        <td>{{ i.creci }}</td>
                        <td>{{ i.salario }}</td>
                        <td>{{ i.admissao }}</td>
                    </tr>
                </table>

                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>CRECI</th>
                            <th>Comissão</th>
                        </tr>
                    </thead>
                    <tr *ngFor="let i of comissionadosLista">
                        <td>{{ i.nome }}</td>
                        <td>{{ i.creci }}</td>
                        <td>{{ i.comissao }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>