.busca {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding-bottom: 2em;
}

.galeria {
    /* superior | direita | inferior | esquerda */
    margin: 0 3em 0 3em;
    /* topo | direita | inferior | esquerda */
    padding: 1em 2em 1em 2em;
    background-color: rgb(179, 166, 131);
    border-radius: 4px;
}

img {
    margin-right: 1em;
    border-radius: 8px;
}

a {
    color: white;
    text-decoration: none;
}