/* You can add global styles to this file, and also import other style files */

body {
    margin: 0px;
}

/* Início - Barra superior */
.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}

.toolbar img {
    margin: 0 16px;
}
/* Fim - Barra Superior */

mat-sidenav {
    margin: 16px;
    position: absolute;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
    visibility: visible;
}